# Secrets
SECRET_KEY='django-insecure-<top-secret-symbols>'
CITE_DOMAIN=domain.ru
CITE_IP=11.222.333.444

# Database settings
DB_ENGINE=django.db.backends.postgresql
DB_HOST=urban_utopia_2024_database
DB_PORT=5432
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# Email SMTP-server settings
### Shouild contain domian of the cite or personal email account link
DEFAULT_FROM_EMAIL=mail@cleanpro.com OR my_username@yandex.ru
### SMTP-server host
EMAIL_HOST=host.mail.com
### SMTP-server port
EMAIL_PORT=123
### SMTP-server username or personal email account link
EMAIL_HOST_USER=user@mail.com
### SMTP-server password
EMAIL_HOST_PASSWORD=password
### True: use TLS connection (safe) with SMTP-server
EMAIL_USE_TLS=True
### True: use SSL connection (protected) with SMTP-server
EMAIL_USE_SSL=False
### If EMAIL_USE_TLS or EMAIL_USE_SSL: optionaly provide a path to sertificates PEM file
EMAIL_SSL_CERTFILE=None
### If EMAIL_USE_TLS or EMAIL_USE_SSL: optionaly provide a path to secret code PEM file
EMAIL_SSL_KEYFILE=None
### Operation block timeout (sec)
EMAIL_TIMEOUT=60
